@model IEnumerable<BrasilTeamMVC.Models.Brasil>

@{
    ViewData["Title"] = "Index";
}

<h1>Jogadores da Selecao Brasileira</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroJogador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeJogador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PosicaoJogador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroJogador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeJogador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosicaoJogador)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
